<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genglun.teach_en" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".words.a"></activity>
        <activity android:name=".words.b"></activity>
        <activity android:name=".words.c"></activity>
        <activity android:name=".words.d"></activity>
        <activity android:name=".words.e"></activity>
        <activity android:name=".words.f"></activity>
        <activity android:name=".words.g"></activity>
        <activity android:name=".words.h"></activity>
        <activity android:name=".words.i"></activity>
        <activity android:name=".words.j"></activity>
        <activity android:name=".words.k"></activity>
        <activity android:name=".words.l"></activity>
        <activity android:name=".words.m"></activity>
        <activity android:name=".words.n"></activity>
        <activity android:name=".words.o"></activity>
        <activity android:name=".words.p"></activity>
        <activity android:name=".words.q"></activity>
        <activity android:name=".words.r"></activity>
        <activity android:name=".words.s"></activity>
        <activity android:name=".words.t"></activity>
        <activity android:name=".words.u"></activity>
        <activity android:name=".words.v"></activity>
        <activity android:name=".words.w"></activity>
        <activity android:name=".words.x"></activity>
        <activity android:name=".words.y"></activity>
        <activity android:name=".words.z"></activity>
        <activity android:name=".class1.class1_main_activity"></activity>
        <activity android:name=".class2.class2_main_activity"></activity>
        <activity android:name=".class1_practice.class1_practice_activity" android:configChanges="orientation|keyboardHidden" ></activity>
        <activity android:name=".class2_practice.class2_practice_activity"></activity>
        <activity android:name=".class3.class3_main_activity"></activity>
        <activity android:name=".class3_practice.class3_practice_activity"></activity>
        <activity android:name=".setting.record"></activity>
        <activity android:name=".practice.practice"></activity>
    </application>

</manifest>
